.App {
	text-align: center;
	background-color: #181818;
	color: whitesmoke;
	height: 100vh;
}

.Start {
	position: relative;
	top: 100px;
	width: 30%;
	margin: 0 auto;
}

.Start button {
	font-size: 1.5rem;
}

.QuizCard {
	background-color: dimgray;
    width: 69%;
    margin: 0 auto;
    padding: 1rem 1rem 0;
    border: 2px solid white;
    border-radius: 5px;
}

.Answer {
	cursor: pointer;
}

.AnswerText {
	margin: 1.25rem auto;
    font-size: 19px;
    color: lawngreen;
}

.Result {
	margin: 2rem auto 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


@media screen and (max-width: 380px){
	.Start {
		width: 70%;
	}
	.Start button {
		font-size: 1rem;
	}
}