.App {
	text-align: center;
	background-color: black;
	color: whitesmoke;
	height: 100vh;
}

.QuizCard {
	background-color: dimgray;
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 5px;
}

.Answer {
	cursor: pointer;
}

.AnswerText {
	margin: 1.25rem auto;
    font-size: 19px;
    color: limegreen;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
